/* 
TODO: 
    hover on nav-links
    pick 2 fonts
    responsive table
    footer
    accordion on nav items
    adjust padding of content
    change default display picture of user
*/
body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --color1: #38023B;
    --color2: #A288E3;
    --color3: #BBD5ED;
    --color4: #CEFDFF;
    --color5: #CCFFCB;
}

#sidebar {
    position: fixed;
    height: 100vh;
    width: 230px;
    background-color: var(--color1);
    left: -230px;
    z-index: 1000;
}

#breadcrumbContainer {
    display: flex;
    align-items: center;
}

#brandName {
    font-family: 'Merriweather', serif;
}

#schoolName {
    font-family: 'Merriweather', serif;
}

#pageTitle {
    font-size: 18px;
    margin: 0;
    font-family: 'Merriweather', serif;
}

li a.nav-link {
    color: white;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    #sidebar {
        left: 0;
    }

    #topbar {
        position: fixed;
        top: 0;
        left: 230px;
        width: calc(100% - 230px);
        z-index: 1000;
    }

    #content {
        position: absolute;
        top: 56px;
        left: 230px;
        padding: 1.5rem;
        width: calc(100% - 230px);
        height: calc(100% - 56px);
        z-index: 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    
}